<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habilidades - Tu Nombre</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/skills.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include('partials/navigation') %>

    <header class="skills-header">
        <h1>Habilidades</h1>
        <p>Conocimiento en diversas tecnologías y herramientas que utilizo para desarrollar soluciones innovadoras y eficientes.</p>
    </header>

    <section class="skills-section">
        <div class="skill">
            <img src="/img/java-script.png" alt="JavaScript Icon" class="skill-icon">
            <h3>JavaScript</h3>
            <p>Experiencia en desarrollo dinámico de frontend y backend utilizando JavaScript.</p>
            <div class="progress-bar">
                <div class="progress" style="width: 90%;">90%</div>
            </div>
        </div>
        
        <div class="skill">
            <img src="/img/programing.png" alt="Node.js Icon" class="skill-icon">
            <h3>Node.js</h3>
            <p>Capacidad para desarrollar aplicaciones backend escalables y optimizadas con Node.js.</p>
            <div class="progress-bar">
                <div class="progress" style="width: 85%;">85%</div>
            </div>
        </div>

        <div class="skill">
            <img src="/img/html-5.png" alt="HTML & CSS Icon" class="skill-icon">
            <h3>HTML & CSS</h3>
            <p>Dominio en la creación de interfaces atractivas y responsivas con HTML y CSS.</p>
            <div class="progress-bar">
                <div class="progress" style="width: 90%;">90%</div>
            </div>
        </div>

        <div class="skill">
            <img src="/img/react.png" alt="React Icon" class="skill-icon">
            <h3>React</h3>
            <p>Habilidad para desarrollar interfaces de usuario interactivas y eficientes usando React.</p>
            <div class="progress-bar">
                <div class="progress" style="width: 70%;">70%</div>
            </div>
        </div>

        <div class="skill">
            <img src="/img/github.png" alt="Git Icon" class="skill-icon">
            <h3>Git & GitHub</h3>
            <p>Experiencia en control de versiones y colaboración de proyectos en equipo usando Git y GitHub.</p>
            <div class="progress-bar">
                <div class="progress" style="width: 90%;">90%</div>
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>
</body>
</html>
